<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="stylesheet" href="/styles/signup.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <header class="header">
    <nav class="navbar">
      <a href="/">Trang chủ</a>
      <a href="#">Dịch vụ</a>
      <a href="#">Hướng dẫn</a>
      <a href="#">Liên hệ</a>
    </nav>

    <form action="#" class="search-bar">
      <input type="text" placeholder="Tìm kiếm...">
      <button type="submit"><i class='bx bx-search'></i></button>
    </form>
  </header>

  <div class="background"></div>
  <div class="container">
    <div class="content">
      <h2 class="logo"><i class='bx bxl-firebase'></i>Trohanoi.com</h2>


      <div class="text-sci">
        <h2>Welcome!<br><span>To Our New Website.</span></h2>

        <p>Trohanoi.com - Trang thông tin tìm kiếm và cho thuê phòng trọ nhanh chóng, tiện lợi với giá cả học
          sinh/sinh viên.</p>

        <div class="social-icons">
          <a href="#"><i class='bx bxl-linkedin'></i></a>
          <a href="#"><i class='bx bxl-facebook-circle'></i></a>
          <a href="#"><i class='bx bxl-instagram'></i></a>
          <a href="#"><i class='bx bxl-twitter'></i></a>
        </div>
      </div>
    </div>

    <div class="logreg-box">
      <div class="form-box register">
        <form action="">
          <h2>Đăng ký</h2>


          <div class="input-box">
            <span class="icon"><i class='bx bxs-user'></i></span>
            <input type="text" name="name" required>
            <label>Tên đăng nhập</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-phone'></i></span>
            <input type="tel" name="phone" required>
            <label>Số điện thoại</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-envelope'></i></span>
            <input type="email" name="email" required>
            <label>Email</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class='bx bxs-lock-alt'></i></span>
            <input type="password" name="password" required>
            <label>Mật khẩu</label>
          </div>

          <div class="remember-forgot">
            <label><input type="checkbox">Tôi đồng ý với chính sách & điều kiện</label>
          </div>

          <button type="submit" class="btn">Đăng ký</button>

          <div class="login-register">
            <p>Đã có tài khoản? <a href="/login" class="login-link">Đăng nhập</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>