<!doctype html>
<html lang="vi">
  <%- include('../../partials/head.ejs') %>
  <body>
    <%- include('../../partials/scripts/pre-scripts.ejs') %>
    <div class="page page-center">
      <div class="container container-tight py-4">
        <div class="text-center mb-4">
          <a href="." class="navbar-brand navbar-brand-autodark">
            <img class="navbar-brand-image" />
          </a>
        </div>
        <form class="card card-md" method="post">
          <div class="card-body">
            <h2 class="h2 text-center mb-4">Quên mật khẩu</h2>
            <p class="text-secondary mb-4">
              Điền email của bạn, chúng tôi sẽ gửi cho bạn một email để đặt lại
              mật khẩu.
            </p>
            <div class="mb-3">
              <label class="form-label"> Địa chỉ email </label>
              <input
                type="email"
                id="email"
                name="email"
                tabindex="1"
                autocomplete="email"
                class="form-control"
              />
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">
                <%- include('../../partials/icons/mail.ejs') %>
                <span>Tiếp tục</span>
              </button>
            </div>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">
          Quên nó đi! <a href="/auth/login">Hãy đưa tôi quay trở lại </a> trang
          đăng nhập
        </div>
      </div>
    </div>
    <%- include('../../partials/scripts/post-scripts.ejs') %>
  </body>
</html>
