<!doctype html>
<html lang="vi">
  <%- include('../../partials/head.ejs') %>
  <body class="d-flex flex-column">
    <%- include('../../partials/scripts/pre-scripts.ejs') %>
    <div class="page page-center">
      <div class="container-tight container py-4">
        <div class="mb-4 text-center">
          <a href="/" class="navbar-brand navbar-brand-autodark">
            <img class="navbar-brand-image" />
          </a>
        </div>
        <form method="post" class="card card-md">
          <div class="card-body">
            <h2 class="h2 mb-4 text-center">Đăng ký</h2>
            <div class="mb-3">
              <label class="form-label"> Tên đầy đủ </label>
              <input
                type="text"
                id="name"
                name="name"
                tabindex="1"
                class="form-control"
                autocomplete="name"
              />
            </div>

            <div class="mb-3">
              <label class="form-label"> Địa chỉ email </label>
              <input
                type="email"
                id="email"
                name="email"
                tabindex="2"
                class="form-control"
                autocomplete="email"
              />
            </div>
            <div class="mb-3">
              <label class="form-label"> Số điện thoại </label>
              <input
                type="tel"
                id="phone"
                name="phone"
                tabindex="3"
                class="form-control"
                autocomplete="tel"
              />
            </div>
            <div class="mb-2">
              <label class="form-label"> Mật khẩu </label>
              <div class="input-group input-group-flat">
                <input
                  type="password"
                  id="password"
                  name="password"
                  tabindex="4"
                  class="form-control"
                  autocomplete="new-password"
                />
              </div>
            </div>
            <div class="mb-2">
              <label class="form-label"> Xác nhận mật khẩu </label>
              <div class="input-group input-group-flat">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  tabindex="5"
                  class="form-control"
                  autocomplete="new-password"
                />
              </div>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">
                Tiếp tục
              </button>
            </div>
          </div>
        </form>
        <div class="text-secondary mt-3 text-center">
          Bạn đã có tài khoản?
          <a href="/auth/login" tabindex="-1"> Đăng nhập ngay </a>
        </div>
      </div>
    </div>
    <%- include('../../partials/scripts/post-scripts.ejs') %>
  </body>
</html>
