<!doctype html>
<html lang="en">
  <%- include('../../head.document.ejs', { title: 'Đăng nhập' }) %>
  <body>
    <main class="h-dvh w-full overscroll-none text-white">
      <div class="relative contents">
        <img
          src="/images/background.jpg"
          alt="background"
          class="h-full w-full object-cover"
        />
        <div class="absolute inset-0 flex flex-row items-center">
          <!-- Divide the screen into two parts horizontally -->
          <div class="hidden h-full w-full flex-grow md:landscape:block">
            <!-- Left panel -->
          </div>
          <div
            class="h-full w-full flex-grow overflow-auto bg-black bg-opacity-30 py-16 backdrop-blur"
          >
            <div
              class="flex min-h-full flex-col items-center justify-center gap-4"
            >
              <!-- Right panel -->
              <h1 class="text-3xl font-bold">Đăng ký</h1>
              <form
                method="POST"
                class="flex w-full max-w-xl flex-col gap-2 p-4"
              >
                <div class="flex flex-col gap-1">
                  <label class="text-sm" for="name">Tên đăng nhập</label>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    autocomplete="name"
                    autofocus
                    class="w-full rounded-md border border-white bg-transparent p-2 px-3"
                  />
                </div>
                <div class="flex flex-col gap-1">
                  <label class="text-sm" for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    autocomplete="email"
                    class="w-full rounded-md border border-white bg-transparent p-2 px-3"
                  />
                </div>
                <div class="flex flex-col gap-1">
                  <label class="text-sm" for="phone">Số điện thoại</label>
                  <input
                    type="tel"
                    id="phone"
                    name="phone"
                    autocomplete="tel"
                    class="w-full rounded-md border border-white bg-transparent p-2 px-3"
                  />
                </div>
                <div class="flex flex-col gap-1">
                  <label class="text-sm" for="password">Mật khẩu</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    autocomplete="new-password"
                    class="w-full rounded-md border border-white bg-transparent p-2 px-3"
                  />
                </div>
                <div class="flex flex-col gap-1">
                  <label class="text-sm" for="confirmPassword"
                    >Xác nhận mật khẩu</label
                  >
                  <input
                    type="password"
                    id="confirmPassword"
                    name="confirmPassword"
                    autocomplete="new-password"
                    class="w-full rounded-md border border-white bg-transparent p-2 px-3"
                  />
                </div>
                <div class="flex flex-col">
                  <button
                    type="submit"
                    class="rounded-md border border-white p-2 px-3"
                  >
                    Đăng ký
                  </button>
                </div>
              </form>
              <div>
                <a href="/auth/login">Đăng nhập</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
