<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="/icon.jpg" type="image/png" />

  <link rel="stylesheet" href="/styles/app.min.css" />
  <link rel="stylesheet" href="/styles/tabler.min.css" />
  <link rel="stylesheet" href="/styles/tabler-flags.min.css" />
  <link rel="stylesheet" href="/styles/tabler-payments.min.css" />
  <link rel="stylesheet" href="/styles/tabler-vendors.min.css" />
  <link rel="stylesheet" href="/styles/banner.css" />

  <script src="/scripts/app.min.js"></script>
  <script src="/scripts/app-theme.min.js"></script>
  <script src="/scripts/tabler.min.js"></script>

  <title><%= locals.metadata?.title %></title>
  <meta name="description" content="<%= locals.metadata?.description %>" />
  <meta name="keywords" content="<%= locals.metadata?.keywords %>" />
</head>
