<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="/icon.jpg" type="image/png" />

  <link rel="stylesheet" href="/styles/app.min.css" />
  <link rel="stylesheet" href="/styles/tabler.min.css" />
  <link rel="stylesheet" href="/styles/tabler-flags.min.css" />
  <link rel="stylesheet" href="/styles/tabler-payments.min.css" />
  <link rel="stylesheet" href="/styles/tabler-vendors.min.css" />
  <link rel="stylesheet" href="/styles/comment.rating.css" />
  <link rel="stylesheet" href="/styles/banner.css" />

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

    :root {
      --tblr-font-sans-serif: Inter, -apple-system, BlinkMacSystemFont,
        San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }

    body {
      font-feature-settings: "cv03", "cv04", "cv11";
    }

    .ct .rating {
      direction: rtl;
      text-align: left;
      margin: 20px;
    }

    .ct .rating label {
      display: inline-block;
      cursor: pointer;
      color: black;
    }

    .ct .rating label i {
      transition: 0.1s ease-in;
    }

    .ct .rating label:hover i,
    .ct .rating label:hover ~ label i {
      color: #ffea4e;
    }

    .ct .rating .rating-radio {
      display: none;
    }

    .ct .rating input[type="radio"]:checked + label i,
    .ct .rating input[type="radio"]:checked ~ label i {
      color: #ffea4e;
    }
  </style>

  <title><%= locals.metadata?.title %></title>
  <meta name="description" content="<%= locals.metadata?.description %>" />
  <meta name="keywords" content="<%= locals.metadata?.keywords %>" />
</head>
