<div class="w-full flex-grow space-y-2 p-4 lg:px-6">
  <h3 class="ml-2 text-xl font-semibold">Trọ nổi bật</h3>
  <% if (locals.featured) { %>
  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    <% locals.featured.forEach(house => { %> <%-
    include('../../cards/house.card.ejs', {house: house}) %> <% }) %>
  </div>
  <% } else { %>
  <div
    class="flex h-64 w-full items-center justify-center rounded-md bg-gray-100"
  >
    <p>Không có trọ nổi bật</p>
  </div>
  <% } %>
</div>
