<head>
  <!-- <meta http-equiv="refresh" content="5" /> -->

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/tabler.min.css" />
  <link rel="stylesheet" href="/styles/tabler-flags.min.css" />
  <link rel="stylesheet" href="/styles/tabler-payments.min.css" />
  <link rel="stylesheet" href="/styles/tabler-vendors.min.css" />
  <script src="/scripts/tabler.min.js"></script>
  <title>
    <%= locals.title %> | JSClub Gen 12 - BCM Team 4
  </title>
</head>