<form method="post" class="contents">
  <div class="w-full flex-grow space-y-2 p-4 lg:px-6">
    <h3 class="ml-2 text-xl font-semibold">Tìm trọ theo</h3>
    <div class="flex flex-col items-center justify-between gap-2 md:flex-row">
      <div class="h-full w-full flex-grow">
        <select
          title="address"
          name="address"
          id="address"
          class="h-full w-full rounded-md border p-2"
        >
          <option disabled selected value>Khu vực</option>
          <option value="all">Tất cả</option>
          <% if (locals.addresses) { %> <% locals.addresses.forEach(address => {
          %>
          <option value="<%= address.code %>"><%= address.name %></option>
          <% }) %> <% } %>
        </select>
      </div>
      <div class="h-full w-full flex-grow">
        <select
          title="price"
          name="price"
          id="price"
          class="h-full w-full rounded-md border p-2"
        >
          <option disabled selected value>Giá thuê</option>
          <option value="..1000000">Dưới 1 triệu</option>
          <option value="1000000..2000000">1 triệu - 2 triệu</option>
          <option value="2000000..3000000">2 triệu - 3 triệu</option>
          <option value="3000000..4000000">3 triệu - 4 triệu</option>
          <option value="4000000..5000000">4 triệu - 5 triệu</option>
          <option value="5000000..">Trên 5 triệu</option>
        </select>
      </div>
      <div class="h-full w-full flex-grow">
        <select
          title="area"
          name="area"
          id="area"
          class="h-full w-full rounded-md border p-2"
        >
          <option disabled selected value>Diện tích</option>
          <option value="..30">Dưới 30m2</option>
          <option value="30..50">30m2 - 50m2</option>
          <option value="50..70">50m2 - 70m2</option>
          <option value="70..100">70m2 - 100m2</option>
          <option value="100..">Trên 100m2</option>
        </select>
      </div>
      <div class="h-full w-full flex-grow">
        <button
          type="submit"
          class="h-full w-full rounded-md border bg-black p-2 text-white"
        >
          Tìm kiếm
        </button>
      </div>
    </div>
  </div>
</form>
