<div class="relative">
  <img src="/images/background.jpg" alt="background" />
  <div
    class="absolute bottom-0 left-0 space-y-2 p-6 text-white md:bottom-8 md:left-16 md:space-y-4 lg:bottom-16 lg:left-32 lg:space-y-8"
  >
    <div>
      <h1 class="text-xl font-bold md:text-3xl lg:text-5xl">TRỌ HÀ NỘI</h1>
    </div>
    <div class="md:text-md max-w-sm text-sm lg:max-w-xl lg:text-lg">
      <p>
        Trohanoi.com - Trang thông tin tìm và cho thuê phòng trọ nhanh chóng,
        hiệu quả số với hơn 500 tin đăng mới và 30.000 lượt xem mỗi ngày.
      </p>
    </div>
  </div>
</div>
`
