<!doctype html>
<html lang="en">
  <%- include('../../head.document.ejs', { title: 'Đăng tin' }) %>
  <body>
    <%- include('../../components/layouts/header.layout.ejs', {user:
    locals.user}) %>
    <main>
      <div class="p-4">
        <div class="border-b p-2">
          <h1 class="text-2xl font-bold tracking-wide">Đăng tin</h1>
        </div>

        <form method="post" class="flex flex-col gap-2 p-4">
          <div class="contents">
            <div class="flex flex-col gap-1">
              <label for="title">
                <span class="font-semibold"> Tiêu đề </span>
              </label>
              <input
                type="text"
                name="title"
                id="title"
                value=""
                class="rounded-md border p-2 px-3"
              />
            </div>
            <div class="flex flex-col gap-1">
              <label for="description">
                <span class="font-semibold"> Mô tả </span>
              </label>
              <textarea
                name="description"
                id="description"
                class="min-h-64 resize-none rounded-md border p-2 px-3 hover:resize-y"
              ></textarea>
            </div>
            <div class="flex flex-col gap-1">
              <label for="address">
                <span class="font-semibold"> Địa chỉ </span>
              </label>
              <input
                type="text"
                name="address"
                id="address"
                value=""
                class="rounded-md border p-2 px-3"
              />
            </div>
            <div class="flex flex-col gap-1">
              <label for="district">
                <span class="font-semibold"> Khu vực </span>
              </label>
              <select
                title="district"
                name="district"
                id="district"
                class="rounded-md border p-2 px-3"
              >
                <option disabled selected value>Khu vực</option>
                <% if (locals.districts) { %> <%
                locals.districts.forEach(district => { %>
                <option value="<%= district.code %>">
                  <%= district.name %>
                </option>
                <% }) %> <% } %>
              </select>
            </div>
            <div class="flex flex-col gap-1">
              <label for="price">
                <span class="font-semibold"> Giá </span>
              </label>

              <input
                type="number"
                name="price"
                id="price"
                value=""
                class="rounded-md border p-2 px-3"
              />
            </div>
            <div class="flex flex-col gap-1">
              <label for="area">
                <span class="font-semibold"> Diện tích </span>
              </label>
              <input
                type="number"
                name="area"
                id="area"
                value=""
                class="rounded-md border p-2 px-3"
              />
            </div>
            <div class="flex flex-col gap-1">
              <label for="images">
                <span class="font-semibold"> Hình ảnh </span>
              </label>
              <input
                type="file"
                name="images"
                id="images"
                accept="image/*"
                multiple
                class="rounded-md border p-2 px-3 file:hidden"
              />
            </div>
            <div class="flex flex-row justify-between gap-1">
              <label for="availability">
                <span class="font-semibold"> Hiện thị công khai </span>
              </label>
              <label class="inline-flex cursor-pointer items-center">
                <input
                  type="checkbox"
                  name="availability"
                  id="availability"
                  value="true"
                  class="peer sr-only"
                />
                <div
                  class="peer relative h-6 w-11 rounded-full bg-gray-200 after:absolute after:start-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-black peer-checked:after:translate-x-full peer-checked:after:border-gray-700"
                ></div>
              </label>
            </div>
          </div>
          <div class="flex flex-row-reverse items-center gap-1 p-2">
            <button
              type="submit"
              class="rounded-md border bg-black p-2 px-3 text-white"
            >
              Đăng tin
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
