<!doctype html>
<html lang="en">
  <%- include('../../partials/head.ejs') %>
  <body>
    <%- include('../../partials/layouts/header.ejs') %>

    <%- include('../../partials/layouts/footer.ejs') %>
  </body>
</html>
