<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Rooms and Houses</title>
  </head>
  <body>
    <h1>Đây là toàn bộ nhà trọ:</h1>
    <% if (houses.length > 0) houses.forEach(house => {%>
    <a class="single" href="/house/<%= house._id %>">
      <h1 class="Name"><%= house.title %></h1>
      <p class="Price">Giá: <%= house.price %></p>
      <p class="Adress">Địa chỉ: <%= house.address.path %></p>
      <br />
    </a>
    <% }); else { %>
    <p>There are no rooms to display.</p>
    <% } %>
  </body>
</html>
