<!doctype html>
<html>
  <head>
    <title>Hung Phat Land</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css">         -->
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <!-- <img src="images/LogoLand.jpg" alt="HungPhatLogo" class="logoImg"> -->
      </div>

      <div class="menu">
        <a href="/login" target="">Login</a>
        <a href="/register" target="">Register</a>
        <a href="/room" target="">All room</a>
        ..
        <a href="/room/create" target="">Create room</a>
        <a href="/user" target="">User</a>
      </div>
    </div>

    <div class="intro">
      <div class="title">
        <p>About Hung Phat Land</p>
      </div>

      <!-- <img src="images/company.jpg" alt="" class="image-intro"> -->
      <div class="content">
        <p>
          With 5 years of experience in the field of investment and real estate
          brokerag, Hung Phat summarizes and implements solutions to quickly
          sell real estate in 7-30 days.
        </p>

        <p>
          Hundreds of Hung Phat customers, after trusting and applying this
          solution, real estate that was stagnant for 6 months and 12 months was
          transacted in just 1-7 days.
        </p>

        <p>
          With the goal of helping homeowners sell real estate in just 7-30
          days, we are the best choice.
        </p>
      </div>
      <br />
    </div>
    <br />
    <div class="most">
      <div class="title">
        <p>The Most Beautiful Real Estate Locations In 2023</p>
      </div>
      <div class="column">
        <div class="container">
          <!-- <img src="images/banner01.png" alt=""> -->
          <div class="top-left">
            <p>TPHCM</p>
            <p id="small-text">5000post</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="row">
          <div class="container">
            <!-- <img src="images/Binhduong.jpg" alt=""> -->
            <div class="top-left">
              <p>Binh Duong</p>
              <p id="small-text">2700post</p>
            </div>
          </div>

          <div class="container">
            <!-- <img src="images/dongnai.jpg" alt=""> -->
            <div class="top-left">
              <p>Dong Nai</p>
              <p id="small-text">1600post</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container">
            <!-- <img src="images/Tayninh.jpg" alt=""> -->
            <div class="top-left">
              <p>Tay Ninh</p>
              <p id="small-text">2200post</p>
            </div>
          </div>
          <div class="container">
            <!-- <img src="images/Longan.jpeg" alt=""> -->
            <div class="top-left">
              <p>Long An</p>
              <p id="small-text">1300post</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="afford">
      <div class="title">
        <p>Affordable Houses in HCM City in 2023</p>
      </div>

      <div class="house">
        <!-- <img src="images/House_Nguyenthaison.jpg" alt=""> -->
        <p class="address">
          Nguyen Van Nghi House, Ward 7, Go Vap District 4x11
        </p>
        <p class="information">
          Price/m2: 86.14 million/m² <br />
          Number of bedrooms: 2 rooms <br />
          Width: 4 m <br />
          Length: 11 m <br />
          Usable area: 88 m² <br />
          House/land characteristics: Late blooming
        </p>
      </div>
      <div class="house">
        <!-- <img src="images/House_Nguyenthaison.jpg" alt=""> -->
        <p class="address">
          Nguyen Thai Son House, Ward 14,Phu Nhuan District 5x10
        </p>
        <p class="information">
          Price/m2: 102 million/m² <br />
          Number of bedrooms: 4 rooms <br />
          Width: 5 m <br />
          Length: 10 m <br />
          Usable area: 200 m² <br />
          House/land characteristics: Late blooming
        </p>
      </div>
    </div>

    <div class="footer">
      <address>
        Email : HungPhatLand@gmail.com
        <br />
        Address: 120 Nguyen Hue, Q1 District, HCMC
        <br />
        © Copyright 2023. HungPhatLand.com.vn
      </address>
    </div>
  </body>
</html>
