<div class="d-flex justify-content-center py-2 pb-3">
  <div class="second py-2 px-2">
    <span class="text1">Type your note, and hit enter to add it</span>
    <div class="d-flex justify-content-between py-1 pt-2">
      <div>
        <img src="https://i.imgur.com/tPvlEdq.jpg" width="18" /><span
          class="text2"
          >Curtis</span
        >
      </div>
      <div>
        <span class="text3">Upvote?</span
        ><span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span
        ><span class="text4 text4o">1</span>
      </div>
    </div>
  </div>
</div>
