<!DOCTYPE html>
<html lang="en">
<%- include('../../../partials/head.ejs') %>
    
<body>
    <thead>
        <tr>
          <th><button class="table-sort" data-sort="sort-name">Tên trọ</button></th>
          <th><button class="table-sort" data-sort="sort-address">Địa chỉ</button></th>
          <th><button class="table-sort" data-sort="sort-price">Giá tiền</button></th>
          <th><button class="table-sort" data-sort="sort-owner">Chủ trọ</button></th>
        </tr>
    </thead>
      <tbody class="table-tbody">
        <% local.houses.forEach(house => { %>
         
            <tr>
                <td class="sort-title">house.title</td>
                <td class="sort-description">house.description</td>
                <td class="sort-address">house.address</td>
                <td class="sort-price">house.price</td>
                <td class="sort-area" >house.area</td>
                <td class="sort-visible">house.visible</td>
                <td class="sort-owner">house.owner</td>
            </tr>
        <% }) %>
    </tbody>
</body>
</html>