<!doctype html>
<html lang="vi">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/scripts/pre-scripts.ejs') %>
    <%- include('../partials/layouts/header.ejs') %>
    <%- include('../partials/scripts/post-scripts.ejs') %>
  </body>
</html>
