<!doctype html>
<html lang="en">
  <%- include('../../head.document.ejs') %>
  <body>
    <%- include('../../components/layouts/header.layout.ejs') %>
    <main><%- include('../../components/layouts/database.layout.ejs') %></main>
  </body>
</html>
