<header class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-menu"
      aria-controls="navbar-menu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1
      class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-md-3 pe-0"
    >
      <a href=".">
        <img class="navbar-brand-image" />
      </a>
    </h1>
    <div class="navbar-nav order-md-last flex-row">
      <div class="nav-item d-none d-md-flex me-3">
        <div class="btn-list">
          <% if (locals.user) { %>
          <a
            href="/houses/create"
            class="btn btn-primary d-none d-lg-block"
            rel="noreferrer"
          >
            <%- include('../icons/home-plus.ejs') %>
            <span>Đăng tin</span>
          </a>
          <% } %>
        </div>
      </div>
      <% if (locals.user) { %>
      <div class="nav-item dropdown">
        <a
          href="#"
          class="nav-link d-flex lh-1 text-reset p-0"
          data-bs-toggle="dropdown"
          aria-label="Open user menu"
        >
          <img class="avatar avatar-sm" />
          <div class="d-none d-xl-block ps-2">
            <div><%= locals.user.name %></div>
            <div class="small text-secondary text-capitalize mt-1">
              <%= locals.user.role %>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="/user/profile" class="dropdown-item"> Trang cá nhân </a>
          <div class="dropdown-divider"></div>
          <a href="/auth/logout" class="dropdown-item"> Đăng xuất </a>
        </div>
      </div>
      <% } else { %>
      <div class="nav-item d-none d-md-flex me-3">
        <div class="btn-list">
          <a
            href="/auth/register"
            class="btn d-none d-lg-block"
            target="_blank"
            rel="noreferrer"
          >
            <span>Đăng ký</span>
          </a>
          <a
            href="/auth/login"
            class="btn btn-primary d-none d-lg-block"
            target="_blank"
            rel="noreferrer"
          >
            <span>Đăng nhập</span>
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</header>
