<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title"><%= locals.metadata?.title %></h2>
        <div class="text-secondary mt-1">
          <%= locals.metadata?.description %>
        </div>
      </div>
    </div>
  </div>
</div>
